* {
    padding: 0;
    margin: 0;
}

.profile-block {
    margin: 0 auto;
    width: 240px;
    height: 165px;
    background-color: white;;
    margin-top: 30px;

}

.blue-rectangle {
    width: 300px;
    height: 25%;
    background-color: rgb(23, 162, 184);

}

#profile-pic {
    width: 50px;
    position: relative;
    top: 15px;
    left: 13px;
    border-radius: 50%;

}


.profile-info-box {
    width: 294px;
    height: 117.75px;
    color: black;
    background-color: white;
    border-left: 3px solid rgb(204, 204, 204);
    border-right: 3px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(204, 204, 204);
    color: black;
}

.profile-name {
    padding-top: 30px;
    padding-left: 10px;
}

.location {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

#map-maker {
    width: 8px;
    margin-left: 10px;
    margin-right: 3px;

}

.info-size-1 {
    font-size: x-small;
    margin-left: 10px;
}

#gear {
    width: 8px;
}

.edit-profile {
    font-size: xx-small;
    margin-left: 10px;
    margin-top: 5px;
}